<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./components/css/stylesheet.css">
    
    
    <title>$TAB_TITLE</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <a href="/frontpage" id="frontpage">Frontpage</img></a>
            <a href="/node" id="nodejs">Node.js</a>
            <a href="/tools" id="tools">Tools</a>
            <a href="/javascript" id="js">javascript</a>
            <a href="/webapi" id="webapi">Web API's</a>
            <a href="/rendering" id="rendering">Rendering HTML</a>
        </nav>
    </header>

    <main>